<!--{{conteudoModal}}-->
<ion-content>
  <div *ngIf="mostra1" class="ion-margin">
    <ion-row>
      <ion-title class="ion-padding ion-text-center">Vivenciar Momentos</ion-title>
    </ion-row>
    <ion-row>
      <ion-title class="ion-padding ion-text-center" style="font-size: 16px;">Qual a forma de registo pretendida?</ion-title>
    </ion-row>
    <ion-list class="ion-padding" style="background-color: transparent; padding-bottom: 3px;">
      <ion-radio-group id="momento" value="foto" (ionChange)="onSelectChange($event)">
        <ion-item class="item-background-color">
          <ion-row style="width: 100%;">
            <ion-col>
              <ion-item lines="none">
                <ion-radio value="foto"></ion-radio>
                <ion-label style="padding-left: 5px;">Fotografia</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item class="item-background-color">
          <ion-row style="width: 100%;">
            <ion-col style="width: 30%;">
              <ion-item lines="none" style="margin:0;">
                <ion-radio value="video"></ion-radio>
                <ion-label style="padding-left: 5px;">Video</ion-label>
              </ion-item>
            </ion-col>
            <ion-col style="width: 70%;">
              <section *ngIf="video" class="item-background-color ion-margin-horizontal">
                <ion-item class="item-background-color ion-margin-horizontal" lines="none" style="margin:0%">
                  <ion-select value="2" interface="popover">
                    <ion-select-option value="2">5 seg</ion-select-option>
                    <ion-select-option value="3">10 seg</ion-select-option>
                    <ion-select-option value="4">15 seg</ion-select-option>
                    <ion-select-option value="5">20 seg</ion-select-option>
                    <ion-select-option value="6">25 seg</ion-select-option>
                    <ion-select-option value="7">30 seg</ion-select-option>
                    <ion-select-option value="8">35 seg</ion-select-option>
                    <ion-select-option value="9">40 seg</ion-select-option>
                    <ion-select-option value="10">45 seg</ion-select-option>
                    <ion-select-option value="11">50 seg</ion-select-option>
                    <ion-select-option value="12">55 seg</ion-select-option>
                    <ion-select-option value="13">1 min</ion-select-option>
                  </ion-select>
                </ion-item>
              </section>
            </ion-col>

          </ion-row>

        </ion-item>

      </ion-radio-group>
    </ion-list>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <section class="ion-justify-content-center ion-text-center" style="margin-top: 5px;">
      <ion-button (click)="cancelar()" style="width: 44%;float: left;">Cancelar</ion-button>
      <ion-button color="success" (click)="comecaRegistar()" style="width: 44%;float: right;">Começar</ion-button>
    </section>


  </div>

  <div *ngIf="mostra2" class="ion-margin modal-vivenciar-2-css">
    <ion-row>
      <ion-title class="ion-padding ion-text-center">Vivenciar Momentos</ion-title>
    </ion-row>
    <ion-row>
      <ion-label class="ion-padding ion-text-center">Posicione o dispositivo em um local com boa visibilidade e vá vivenciar o momento.
      </ion-label>
    </ion-row>
    <ion-row>
      <ion-label class="ion-padding ion-text-center">Pode deixar que dos registos cuidamos nós.</ion-label>
    </ion-row>

    <ion-row class="ion-padding ion-justify-content-center">
      <ion-button (click)="terminarVivenciarMomento()" style="width: 44%;float: left;">Vivenciar</ion-button>
    </ion-row>

    
  </div>
</ion-content>
