<ion-header>
    <ion-toolbar class="transparent-background-color">
        <ion-title>Revelar momento</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class="ion-padding" style="background-color: transparent; height: 45%;">
        <ion-row style="padding-left: 0px;">
            <ion-title style="font-size: 18px;padding-left: 16px;">Endereço de entrega</ion-title>
            <ion-button style="float: right; padding-right: 4px; font-weight: bold;" size="small" color="dark" fill="clear" (click)="novaMorada()">
                <ion-icon style="padding-left:15px;" name="add-outline"></ion-icon>
            </ion-button>
        </ion-row>
        <ion-radio-group name="auto" value="ESTG">
            <ion-item class="transparent-background-color" *ngFor="let item of moradas">
                <ion-radio value="{{item.titulo}}" checked></ion-radio>
                <ion-icon style="padding-left:15px;" name="home-outline"></ion-icon>
                <ion-label style="padding-left:10px;">
                    <h2>{{item.titulo}}</h2>
                    <p>{{item.morada}}</p>
                </ion-label>
            </ion-item>
        </ion-radio-group>
    </ion-list>

    <ion-item-divider></ion-item-divider>

    <ion-list class="ion-padding" style="background-color: transparent;  height: 40%;">
        <ion-row style="padding-left: 0px;">
            <ion-title style="font-size: 18px;padding-left: 16px;">Forma de pagamento</ion-title>
            <ion-button style="float: right; padding-right: 4px; font-weight: bold;" size="small" color="dark" fill="clear" (click)="novaFormaPagamento()">
                <ion-icon style="padding-left:15px;" name="add-outline"></ion-icon>
            </ion-button>
        </ion-row>
        <ion-radio-group name="auto" value="**** **** **** 9874">
            <ion-item class="transparent-background-color" *ngFor="let item of formas_Pagamento">
                <ion-radio value="{{item.principal}}"></ion-radio>
                <ion-icon style="padding-left:15px;" name="{{item.icone}}"></ion-icon>
                <ion-label style="padding-left:10px;">
                    <h2>{{item.principal}}</h2>
                </ion-label>
            </ion-item>
        </ion-radio-group>
    </ion-list>
    <div class="div-Footer row" style="width: 100%; padding-bottom: 15px;">
        <ion-item style="width: 50%; float:left" class="transparent-background-color" lines="none">
            <ion-button (click)="cancelar()" style="width: 100%; height:75%; padding-left: 5px;" color="danger">
                Cancelar
            </ion-button>
        </ion-item>
        <ion-item style="width: 50%; float:left" class="transparent-background-color" lines="none">
            <ion-button (click)="nextStep()" style="width: 100%; height:75%; padding-right: 5px;" class="ion-float-right" color="success">
                Finalizar
            </ion-button>
        </ion-item>
    </div>
</ion-content>