img{
    height: 10vh;
    width: 100%;
    
    object-fit: cover;
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

ion-card{
    max-width: 33vw;
    min-width: 26vw;
    max-height: 20vh;
    min-height: 15vh;
}

ion-card-content{
    padding: 0px;
    margin: 0px;
}

.topBox{
    padding: 0px;
    margin: 5px;
}

.bottonBox{
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
    margin-left: 5px;
}