<ion-content>
    <div class="row" style="margin-top: 10%;" class="padding5">
        <label>Titulo</label>
        <ion-input value="Sem Titulo" style="background-color: white; border-radius: 5px;" class="datetimeColor"></ion-input>
    </div>
    <div class="row" class="padding5">
        <label>Data</label>
        <ion-datetime displayFormat="DD / MM / YYYY" value="2021-03-31" class="datetimeColor" style="background-color: white; border-radius: 5px;"></ion-datetime>

    </div>
    <div class="row" class="padding5">
        <label>Tags</label>
        <ion-chip>
            <ion-icon name="pizza-outline" color="primary"></ion-icon>
            <ion-label>Furduncinho</ion-label>
            <ion-icon name="close-circle"></ion-icon>
        </ion-chip>

        <ion-chip>
            <ion-icon name="beer-outline" color="primary"></ion-icon>
            <ion-label>Atesentorta</ion-label>
            <ion-icon name="close-circle"></ion-icon>
        </ion-chip>

        <ion-chip>
            <ion-icon name="add" style="margin:0;"></ion-icon>
        </ion-chip>
    </div>
    <div class="row" class="padding5">
        <label>Descrição</label><br />
        <textarea style="border-radius: 5px; width: 100%;"></textarea>
    </div>
    <div class="row" class="padding5">
        <label>Detalhes</label><br>
        <label class="datetimeColor">0.8MP  1440x720   2.5MB</label>
    </div>
</ion-content>