.titleSelectMode{
    font-size:medium;
}

.complementTitle{
    font-size: 1rem;
}

.title{
    margin-left: 16px;
    padding: 0px;
}

ion-fab-list  {
	ion-badge {
		position: absolute;
		top: -0.1rem;
		right: -0.4rem;
		opacity: 0.9;
        border-radius: 20px;
        width: 24px;
        height: 24px;
        font-size: 17px;
        font-weight: bold;
		& ~ ion-icon {
			margin-right: 1.0rem;
		}
	}
}