<ion-content>
    <div class="ion-margin">
        <ion-row class="ion-padding">
            <ion-title>Concluído</ion-title>
        </ion-row>
        <ion-row class="ion-padding">
            <ion-label class="ion-text-center">Compra realizada com sucesso!</ion-label>
        </ion-row>
        <ion-row class="ion-padding ion-justify-content-center">
            <ion-button (click)="finalizarCompra()" class="ion-text-wrap" style="width: 90%; ">
                Finalizar
            </ion-button>
        </ion-row>
    </div>
</ion-content>