<ion-header>
    <ion-toolbar class="transparent-background-color" *ngIf="!isSelectMode()">
        <ion-title size="medium">Momentos <span class="complementTitle" *ngIf="albumName">({{albumName}})</span>
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="pagina-inicial"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar *ngIf="isSelectMode()">
        <ion-button size="small" color="dark" fill="clear" slot="start" (click)="cancelSelect()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>

        <ion-title size="medium"> {{getMsgCounter()}} </ion-title>

        <ion-button size="small" color="dark" fill="clear" slot="end" (click)="selectAll()">
            <ion-icon slot="icon-only" name="checkmark-done"></ion-icon>
        </ion-button>
        <ion-button size="small" color="dark" fill="clear" slot="end" (click)="unSelectAll()">
            <ion-icon slot="icon-only" name="square-outline"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <app-media-item route="detalhe-momento" image={{i.value.src}} time={{i.value.hora}}
                    *ngFor="let i of albuns.slice(0,8) | keyvalue">
                </app-media-item>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>
<ion-footer>
    <ion-toolbar id="tabP" hidden>
        <app-tabs deleteDirect="false"></app-tabs>
    </ion-toolbar>
</ion-footer>