<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="share()">
            <ion-icon name="share-social-outline"></ion-icon>
            <ion-label>Partilhar</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="revelarMomentos()">
            <ion-icon name="print-outline"></ion-icon>
            <ion-label>Adquirir momentos</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="preRemoveItem()">
            <ion-icon name="trash-outline"></ion-icon>
            <ion-label>Apagar</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>