<ion-header>
    <ion-toolbar *ngIf="!isSelectMode()">
        <ion-title>Revelar momentos</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar *ngIf="isSelectMode()">
        <ion-button size="small" color="dark" fill="clear" slot="start" (click)="cancelSelect()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>

        <ion-title size="medium"> {{getMsgCounter()}} </ion-title>

        <ion-button size="small" color="dark" fill="clear" slot="end" (click)="selectAll()">
            <ion-icon slot="icon-only" name="checkmark-done"></ion-icon>
        </ion-button>
        <ion-button size="small" color="dark" fill="clear" slot="end" (click)="unSelectAll()">
            <ion-icon slot="icon-only" name="square-outline"></ion-icon>
        </ion-button>
        <ion-button size="small" color="dark" fill="clear" slot="end" (click)="remove()">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
    </ion-toolbar>

</ion-header>

<ion-content>

    <ion-item-divider>
        <ion-label>
            Videos
        </ion-label>
    </ion-item-divider>

    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <app-media-item route="momento-video" image="../../assets/img/imgDef.png" *ngFor="let i of [].constructor(4) ">
                </app-media-item>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-item-divider>
        <ion-label>
            Fotografias
        </ion-label>
    </ion-item-divider>

    <ion-grid fixed>
        <ion-row>
            <ion-col size="12">
                <app-media-item route="comprar" image="../../assets/img/imgDef.png" *ngFor="let i of [].constructor(6) ">
                </app-media-item>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar class="transparent-background-color">
        <ion-item style="width: 50%; float:left" class="transparent-background-color" lines="none">
            <ion-button (click)="nextStep()" style="width: 100%; height:75%; float: left;">
                Checkout
            </ion-button>
        </ion-item>
        <ion-item class="transparent-background-color" style="width: 50%; float:right;">
            <ion-button (click)="fastCheckOut()" style="width: 100%; height: 75%; float: left;" class="ion-float-right">
                Checkout Rapido
            </ion-button>
        </ion-item>
    </ion-toolbar>
</ion-footer>