<ion-content>
    <div class="ion-margin">
        <ion-row class="ion-padding">
            <ion-title>Apagar momento</ion-title>
        </ion-row>
        <ion-row class="ion-padding">
            <ion-label class="ion-text-center">Tem a certeza que pretende apagar estemomento?</ion-label>
        </ion-row>
        <section class="ion-justify-content-center ion-text-center">
            <ion-button (click)="cancelar()" style="width: 45%;">Cancelar</ion-button>
            <ion-button color="danger" (click)="confirma()" style="width: 45%;">Apagar</ion-button>
        </section>
    </div>
</ion-content>