<ion-content>
  <div class="ion-margin">
    <ion-row class="ion-padding">
      <ion-title class="ion-text-center">Apagar Momento</ion-title>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-label class="ion-text-center">Tem certeza que pretende apagar este momento?</ion-label>
    </ion-row>
    <section class="ion-justify-content-center ion-text-center">
      <ion-button (click)="cancelar()" style="width: 44%;float: left;">Cancelar</ion-button>
      <ion-button color="danger" (click)="confirma()" style="width: 44%;float: right;">Apagar</ion-button>
    </section>
  </div>
</ion-content>
